.navigation {
    max-block-size: 1;
    padding: 20px;
}

.navigation__container {
    margin: 20px;
    max-width: 1000px;
    text-align: right;
    overflow: auto;
    margin: auto;
}

.navigation__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1000px;
    padding: 20px;
    overflow: auto;
    margin: auto;
}

.navigation__header {
    display: block;
    padding: 15px;
    background-color: rgba(255, 166, 0, 0.87);
    text-align: center;
    font-size: 2.5em;
    border-style: solid;
    margin: 2%;
    border-radius: 30px;
    border-width: 10px;
    font-family: "Open Sans", sans-serif;
}

.navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
}

.navigation__list {
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.navigation__item {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
    -webkit-transition: 2s;
    transition: 0.5s;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.navigation__item:hover {
    color: silver;
}
