.section {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.section__header {
    font-weight: normal;
    margin: 10px 0;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}

.section__paragraph {
    margin: 20px 0;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.section__list {
    border: solid;
    border-width: 2px;
    border-color: black;
    text-align: left;
    list-style-type: none;
}

.section__item {
    padding: 10px;
}

.section__container {
    margin: 20px;
    max-width: 1000px;
    text-align: r;
    overflow: auto;
    margin: auto;
    padding: 30px;
}

.section__inner {
    display: -ms-grid;
    display: grid;
    grid-gap: 37;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 4% 1fr;
    grid-template-columns: 40% 1fr;
    padding: 50px;
    border-style: dotted;
    border-width: 3px;
}

.section__image {
    width: 100%;
    height: 90%;
}

.section__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 5px 30px;
}